/* Cỡ chữ sao */
.rating {
    font-size: 24px;
}

/* Cài đặt màu sắc mặc định cho sao */
.star {
    color: #d3d3d3;
    cursor: pointer;
    transition: color 0.2s; /* Hiệu ứng chuyển màu mượt mà */
}

/* Khi di chuột qua sao, sao sẽ chuyển thành vàng */
.star:hover,
.star.selected {
    color: gold;
}

/* Sao chưa chọn - màu xám */
.stared {
    color: gray;
}

/* Sao đã được chọn - màu vàng */
.star-filled {
    color: gold;
}




/* Đảm bảo sao có kích thước hợp lý trên mobile */
@media screen and (max-width: 768px) {
    .star {
        font-size: 20px; /* Giảm kích thước sao cho phù hợp trên thiết bị nhỏ */
    }
}

/* Kích thước ảnh trên mobile */
@media screen and (max-width: 576px) {
    .avatar {
        width: 35px;
        height: 35px;
    }
}
