.img-profile{
    width: 50px;
}

.custom-height-feedback{
    height: 400px;
}

.title{
    width: 400px;   
}

@media (max-width: 768px) {
 
    .custom-height-feedback{
        height: 850px;
    }
}