.login-wrapper {
    display: flex;
    width: 80%;
    margin: 120px auto;
    position: relative;
    gap: 160px;

    img {
        object-fit: cover;
        @include down(1000px) {
            display: none;
        }
    }


    .register-link {
        margin: 12px 0 0 0;
        text-align: center;
    }

    .login-img {
        width: 50%;
    }

    .login {
        width: 50%;

        .form-wrapper {
            max-width: 480px;

            .login-option {
                .login-option-title {
                    width: 480px !important;
                    margin: 22px 0 12px 0;
                    text-align: center;

                }

                figure {
                    margin: 0;
                    text-align: center;

                    .google-icon {
                        width: 55px;
                        background: #F1F1F1;
                        border-radius: 50%;
                        padding: 5px;
                    }
                }

            }

        }

        .extended-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 480px;

            .forgot-password {
                a {
                    color: #B0B0B0;
                }
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .password-required,
            .username-required {
                margin-top: 5px;
            }

            .login-btn {
                width: 300px;
                height: 70px;
                border-radius: 50px;
                border: none;
                background: #1C61E7;
                color: #fff;
                margin: 0 auto;
            }

            .remember-tick {
                display: flex;
                align-items: center;
                gap: 10px;

                .remember-checkbox {
                    opacity: 0;
                    position: absolute;
                }

                .remember-box {
                    width: 30px;
                    height: 30px;
                    border: 2px solid #1C61E7;
                    border-radius: 4px;
                    transition: background-color 0.3s ease, border-color 0.3s ease;
                    position: relative;
                }

                .remember-checkbox:checked+.remember-box {
                    background-color: #1C61E7;
                    border-color: #1C61E7;
                }

                .remember-checkbox:checked+.remember-box::after {
                    content: "✔";
                    color: white;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .remember-checkbox:checked:hover+.remember-box {
                    border-color: #fff;
                }
            }
        }

        .login-form-input {
            margin-bottom: 10px;
            padding: 20px;
            width: 480px;
            height: 70px;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: #EDF2F5;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        }
    }
}