.custom-height {
    min-height: 400px;
}

.custom-h2{
    height: 70px;
}


@media (max-width: 768px) {
    .custom-height {
        min-height: 1000px;
    }
    .custom-h2{
        height: 70px;
    }
}