.bdrdu-20 {
  border-radius: 20px;
}

.adsProduct-wrapper {
  margin: 30px 0;
}

.adsProducts {
  &_height {
    // height: 580px;
    height: 480px;
    @media (max-width: 768px) {
      height: 200px !important;
    }
    @media (max-width: 1440px) {
      height: 460px;
    }
    button {
      height: 45px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 100px;
    }

    button:hover {
      background: #fff;
      transition: 0.5s ease-in-out;
      color: #292936;
    }

    &_2 {
      height: 48%;
    }
    &_fix1 {
      color: #292936 !important;
      border: 1px solid #292936 !important;
      &:hover {
        background: #292936 !important;
        transition: 0.5s ease-in-out;
        color: #fff !important;
      }
    }
  }

  &_image {
    // width: 75%;
    // max-width: 250px;
    bottom: 10px;
    right: 15px;
    // mix-blend-mode: multiply;
    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &2 {
      max-width: 150px;
      width: 25%;
      bottom: 15px;
      right: 15px;
    }
  }
}
