.img-profile{
    width: 50px;
}

.custom-border{
    border: #000000b7 3px solid !important;
    border-radius: 20px;
}

@media only screen and (max-width: 1400px) {
    .img-profile{
        width: 100px;
    }
    .star{
        width: 100px;
        height: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .img-profile{
        width: 100px;
    }
    .star{
        width: 100px;
        height: 20px;
    }
}